html {
  scroll-behavior: smooth;
}

#js--nav-links li {
  display: inline-block;
}

.logo {
  display: flex;
  flex-direction: column;
}

.sub-logo {
  background-color: aquamarine;
  color: black;
  letter-spacing: 5px;
  padding: 0px 5px;
}

.step {
  border-radius: 50px;
  width: 33px;
  height: 33px;
  line-height: 33px;
  margin: 0 auto;
  background: #ffdd57;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .9px;
  text-align: center;
  color: #282d3c;
  margin-bottom: 10px;
}

.wireframe:after {
  content: " ";
  display: block;
  position: absolute;
  left: 140px;
  top: 110px;
  width: 75%;
  z-index: -1;
  border-bottom: 3px dashed #d3d9e5;
  visibility: hidden;
  transition: visibility 1s;
}

.wireframe.show:after {
  visibility: visible;
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-bottom-xl {
  margin-bottom: 50px;
}

.divider {
  color: black;
  margin-top: 20px;
  border-bottom: 1px solid lightgrey;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.illustration {
  width: 150px;
}

.column.has-vertically-aligned-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.features.container.content {
  max-width: 810px;
}

/*text animation */

.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}

.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wireframe:after {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .wireframe:after {
    display: none;
  }
}

.js--wp-1, .js--wp-2, .js--wp-3, .js--wp-4, .js--wp-5, .js--wp-6, .js--wp-7, .js--wp-8, .js--wp-9, .js--wp-10, .js--wp-11, .js--wp-12, .js--wp-13, .js--wp-14, .js--wp-16, .js--wp-17, .js--wp-18, .js--wp-19, .js--wp-20 {
  visibility: hidden;
}

.show {
  visibility: visible;
}